{
  "openapi": "3.1.0",
  "info": {
    "title": "Sustainable Catalyst Library API",
    "version": "1.3.0",
    "description": "Versioned public access to Sustainable Catalyst Library records, readiness status, preserved historical editions, preservation manifests, embedded Foundation Documents and page-aware PDF text, relationships, graph data, roadmap data, schemas, and explicitly scoped service operations."
  },
  "servers": [
    {
      "url": "https://sustainablecatalyst.com/wp-json/sustainable-catalyst-library/v1"
    }
  ],
  "paths": {
    "/status": {
      "get": {
        "summary": "API service status",
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    },
    "/records": {
      "get": {
        "summary": "Search and browse public Library records",
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    },
    "/records/{id}": {
      "get": {
        "summary": "Read one public Library record",
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    },
    "/relationships": {
      "get": {
        "summary": "Browse public record relationships",
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    },
    "/graph": {
      "get": {
        "summary": "Read a public Knowledge Graph neighborhood",
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    },
    "/roadmap": {
      "get": {
        "summary": "Read the public registry and roadmap",
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "description": "Returns a paginated public registry with aggregate roadmap tracker data. Optional collection filtering is supported."
      }
    },
    "/schemas": {
      "get": {
        "summary": "List published JSON Schemas",
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    },
    "/schemas/{name}": {
      "get": {
        "summary": "Read one JSON Schema",
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    },
    "/openapi.json": {
      "get": {
        "summary": "Read this OpenAPI document",
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    },
    "/protected/export-manifest": {
      "get": {
        "summary": "Read the protected portable-export manifest",
        "security": [
          {
            "LibraryApiKey": [
              "exports:read"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Export manifest"
          },
          "401": {
            "description": "Authentication required"
          },
          "403": {
            "description": "Scope denied"
          }
        }
      }
    },
    "/protected/reindex": {
      "post": {
        "summary": "Run the synchronous Library reindex fallback",
        "security": [
          {
            "LibraryApiKey": [
              "index:write"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Reindex result"
          }
        }
      }
    },
    "/protected/webhooks/test": {
      "post": {
        "summary": "Emit a signed test webhook event",
        "security": [
          {
            "LibraryApiKey": [
              "webhooks:write"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Test event created"
          }
        }
      }
    },
    "/media/reels": {
      "get": {
        "summary": "Browse public multimedia evidence reels",
        "responses": {
          "200": {
            "description": "Paginated public reel collection"
          }
        }
      }
    },
    "/media/reels/{uuid}": {
      "get": {
        "summary": "Read one public multimedia evidence reel",
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Public evidence reel"
          },
          "404": {
            "description": "Reel not found"
          }
        }
      }
    },
    "/foundation-documents": {
      "get": {
        "summary": "List published Foundation Documents",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100
            }
          },
          {
            "name": "search",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Foundation Document collection",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/foundation-document"
                      }
                    },
                    "pagination": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/foundation-documents/{id}": {
      "get": {
        "summary": "Read one published Foundation Document",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Foundation Document",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/foundation-document"
                }
              }
            }
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/foundation-documents/{id}/pages": {
      "get": {
        "summary": "Read page-aware extracted PDF text",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "search",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Extracted PDF pages"
          }
        }
      }
    },
    "/foundation-documents/{id}/citation": {
      "get": {
        "summary": "Export a Foundation Document citation",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "format",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "plain",
                "bibtex",
                "ris",
                "csl"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Citation export"
          }
        }
      }
    },
    "/archive": {
      "get": {
        "summary": "Browse public preserved editions",
        "parameters": [
          {
            "name": "record_id",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 20
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Preserved edition collection"
          }
        }
      }
    },
    "/archive/{uuid}": {
      "get": {
        "summary": "Read one public frozen edition",
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Preserved snapshot",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PreservationSnapshot"
                }
              }
            }
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/archive/{uuid}/manifest": {
      "get": {
        "summary": "Read one preservation manifest",
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Preservation manifest"
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/readiness": {
      "get": {
        "summary": "Get the aggregate public Library production-readiness status",
        "operationId": "getLibraryReadiness",
        "responses": {
          "200": {
            "description": "Aggregate readiness status",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./schemas/readiness-report.json"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "LibraryApiKey": {
        "type": "apiKey",
        "in": "header",
        "name": "X-SC-Library-Key",
        "description": "Scoped key generated by a Library administrator. The plaintext key is shown once."
      }
    },
    "schemas": {
      "record": {
        "$schema": "https://json-schema.org/draft/2020-12/schema",
        "$id": "https://sustainablecatalyst.com/wp-json/sustainable-catalyst-library/v1/schemas/record",
        "title": "Sustainable Catalyst Library record",
        "type": "object",
        "required": [
          "schema",
          "id",
          "type",
          "title",
          "url"
        ],
        "properties": {
          "schema": {
            "const": "sc-library-record/1.0"
          },
          "id": {
            "type": "integer",
            "minimum": 1
          },
          "identifier": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "excerpt": {
            "type": "string"
          },
          "url": {
            "type": "string",
            "format": "uri"
          },
          "published_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "modified_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          }
        },
        "additionalProperties": true
      },
      "relationship": {
        "$schema": "https://json-schema.org/draft/2020-12/schema",
        "$id": "https://sustainablecatalyst.com/wp-json/sustainable-catalyst-library/v1/schemas/relationship",
        "title": "Sustainable Catalyst Library relationship",
        "type": "object",
        "required": [
          "source_record_id",
          "target_record_id",
          "type"
        ],
        "properties": {
          "source_record_id": {
            "type": "integer"
          },
          "target_record_id": {
            "type": "integer"
          },
          "type": {
            "type": "string"
          },
          "confidence": {
            "type": "number",
            "minimum": 0,
            "maximum": 1
          },
          "provenance_url": {
            "type": "string"
          }
        },
        "additionalProperties": true
      },
      "webhook-event": {
        "$schema": "https://json-schema.org/draft/2020-12/schema",
        "$id": "https://sustainablecatalyst.com/wp-json/sustainable-catalyst-library/v1/schemas/webhook-event",
        "title": "Sustainable Catalyst Library webhook event",
        "type": "object",
        "required": [
          "schema",
          "event_id",
          "event_type",
          "occurred_at",
          "data"
        ],
        "properties": {
          "schema": {
            "const": "sc-library-webhook-event/1.0"
          },
          "event_id": {
            "type": "string",
            "format": "uuid"
          },
          "event_type": {
            "type": "string",
            "enum": [
              "record.published",
              "record.updated",
              "record.archived",
              "plan.created",
              "plan.transitioned",
              "documentation.updated",
              "graph.rebuilt",
              "workspace.revised",
              "review.transitioned",
              "review.approved",
              "book.rendered",
              "media.clip.completed",
              "api.test"
            ]
          },
          "occurred_at": {
            "type": "string",
            "format": "date-time"
          },
          "site": {
            "type": "string",
            "format": "uri"
          },
          "data": {
            "type": "object"
          }
        },
        "additionalProperties": false
      },
      "error": {
        "$schema": "https://json-schema.org/draft/2020-12/schema",
        "title": "WordPress REST error",
        "type": "object",
        "required": [
          "code",
          "message"
        ],
        "properties": {
          "code": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "data": {
            "type": "object"
          }
        }
      },
      "foundation-document": {
        "$ref": "./schemas/foundation-document.json"
      },
      "PreservationSnapshot": {
        "$schema": "https://json-schema.org/draft/2020-12/schema",
        "$id": "https://sustainablecatalyst.com/schemas/preservation-snapshot.json",
        "title": "Sustainable Catalyst preserved snapshot",
        "type": "object",
        "required": [
          "schema",
          "snapshot_uuid",
          "record_id",
          "title",
          "snapshot_status",
          "source_hash",
          "created_at"
        ],
        "properties": {
          "schema": {
            "const": "sc-library-preservation/1.0"
          },
          "snapshot_uuid": {
            "type": "string",
            "format": "uuid"
          },
          "record_id": {
            "type": "integer",
            "minimum": 1
          },
          "record_type": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "canonical_url": {
            "type": "string"
          },
          "version_label": {
            "type": "string"
          },
          "snapshot_status": {
            "enum": [
              "current",
              "preserved",
              "superseded",
              "archived"
            ]
          },
          "source_hash": {
            "type": "string",
            "pattern": "^[a-f0-9]{64}$"
          },
          "manifest_hash": {
            "type": "string",
            "pattern": "^[a-f0-9]{64}$"
          },
          "content_html": {
            "type": "string"
          },
          "supersedes_uuid": {
            "type": "string"
          },
          "created_at": {
            "type": "string"
          },
          "manifest_url": {
            "type": "string"
          }
        },
        "additionalProperties": true
      }
    }
  },
  "externalDocs": {
    "description": "Sustainable Catalyst Library Developer Portal",
    "url": "https://sustainablecatalyst.com/developers/"
  }
}
